In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle
from tensorflow.keras.models import load_model

In [3]:
## load the trained model , scaler pickle onehot
model=load_model('model.h5')

with open('onehot_encoding_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [16]:
## example input data
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [18]:
## one hot encode 'Geography'
geo_encoder=label_encoder_geo.transform([[input_data['Geography']]])
geo_encoded_df=pd.DataFrame(geo_encoder,columns=label_encoder_geo.get_feature_names_out(['Geography']))

C:\Users\sachi\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [20]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [22]:
## encoder categorical value gender
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [24]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [26]:
## concatination one hot encoder
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [28]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [30]:
# scaler.

In [32]:
## scaling the input data 
input_scaled=scaler.transform(input_df)

In [34]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [36]:
pred=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 162ms/step

In [38]:
pred

array([[0.04226186]], dtype=float32)

In [40]:
prediction_prob=pred[0][0]

In [42]:
prediction_prob

0.042261865

In [44]:
if prediction_prob >0.5:
    print('The customer is likely to churn : ')
else:
    print('The customer is not likely to churn ')

The customer is not likely to churn